@import '../__util';

.lineLink{
  display: flex;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  color: $black;

  &:nth-child(n+2){
    border-top: 1px solid $border;
  }

  &__title{
    flex: 1;
  }

  &__extra{
    width: auto;
    color: $gray;
  }

  &__arrow{
    width: 20px;
    margin-left: 10px;
    background: url('../icon/arrow-r.svg') center / contain no-repeat;
  }
}
