@import '../__util.scss';

a{
  text-decoration: none;
}
.tabBar{
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #fff;

  &__btn{
    flex:1;
    flex-direction: column;
    @include flex-center;
  }

  &__btn--active{
    .tabBar__text{
      color: #ff4c64;
    }

    .tabBar__icon{
      &--movie{
        background: url(../icon/movie-solid.png) 50% / contain no-repeat;
      }
      &--user{
        background: url(../icon/user-solid.png) 50% / contain no-repeat;
      }
    }
  }

  &__icon{
    display: block;
    width:22px;
    height: 22px;

    &--movie {
      background: url(../icon/movie.png) 50% / contain no-repeat;
    }
    &--user{
      background: url(../icon/user.png) 50% / contain no-repeat;
    }
  }

  &__text{
    font-size: 10px;
    color:#666;
  }
}
